<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">BestMissCocktail</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="tn btn-ghost my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container">
<h1>Add a new dose to <%= @cocktail.name %></h1>

<div class="formulaire">
<div class="col-6 offset-3">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>

    <%= f.submit 'Add', class: "btn btn-ghost" %>
  <% end %>
  <br>
</div>
</div>
  <%= link_to 'Back', cocktails_path, class: "btn btn-ghost" %>
</div>
